demo/example-paraminfo/src/main/app/example-paraminfo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wiki-pedia="http://www.mulesoft.org/schema/mule/wiki-pedia" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wiki-pedia http://www.mulesoft.org/schema/mule/wiki-pedia/current/mule-wiki-pedia.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9098" doc:name="HTTP Listener Configuration"/>
    <wiki-pedia:config-type name="WikiPedia__HttpBasicAuth" username="${user.name}" password="${password}" doc:name="WikiPedia: HttpBasicAuth"/>
    <flow name="example-paraminfoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/wiki/paraminfo" doc:name="HTTP"/>
        <wiki-pedia:get-param-info config-ref="WikiPedia__HttpBasicAuth" modules="parse|phpfm|query+allpages|query+siteinfo" doc:name="WikiPedia"/>
    	<logger message="=============================login #[payload]" level="INFO" doc:name="Logger"/>
    	<json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
