src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wiki-pedia="http://www.mulesoft.org/schema/mule/wiki-pedia" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.mulesoft.org/schema/mule/wiki-pedia http://www.mulesoft.org/schema/mule/wiki-pedia/current/mule-wiki-pedia.xsd">

	<context:property-placeholder location="automation-credentials.properties" />
    <wiki-pedia:config-type name="WikiPedia__HttpBasicAuth" username="${user.name}" password="${password}" doc:name="WikiPedia: HttpBasicAuth"/>

	<flow name="query">
		<wiki-pedia:query config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-categories">
		<wiki-pedia:query-prop-categories
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-category-info">
		<wiki-pedia:query-prop-category-info
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		 <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-contributors">
		<wiki-pedia:query-prop-contributors
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-deleted-revisions">
		<wiki-pedia:query-prop-deleted-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		 <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-duplicate-files">
		<wiki-pedia:query-prop-duplicate-files
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-ext-links">
		<wiki-pedia:query-prop-ext-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-extracts">
		<wiki-pedia:query-prop-extracts
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-fileusage">
		<wiki-pedia:query-prop-fileusage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-global-usage">
		<wiki-pedia:query-prop-global-usage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-image-info">
		<wiki-pedia:query-prop-image-info
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-images">
		<wiki-pedia:query-prop-images config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-info">
		<wiki-pedia:query-prop-info config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
		<json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="=========#[payload]" level="INFO" doc:name="Logger"/>
	</flow>

	<flow name="query-prop-iw-links">
		<wiki-pedia:query-prop-iw-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-proplanglinks">
		<wiki-pedia:query-proplanglinks
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-proplinks">
		<wiki-pedia:query-proplinks config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-link-shere">
		<wiki-pedia:query-prop-link-shere
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-page-images">
		<wiki-pedia:query-prop-page-images
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-page-props">
		<wiki-pedia:query-prop-page-props
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-page-terms">
		<wiki-pedia:query-prop-page-terms
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-redirects">
		<wiki-pedia:query-prop-redirects
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-revisions">
		<wiki-pedia:query-prop-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-stash-imageinfo">
		<wiki-pedia:query-prop-stash-imageinfo
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-templates">
		<wiki-pedia:query-prop-templates
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-transcludedin">
		<wiki-pedia:query-prop-transcludedin
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-prop-video-info">
		<wiki-pedia:query-prop-video-info
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-abuse-filters">
		<wiki-pedia:query-list-abuse-filters
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-abuse-log">
		<wiki-pedia:query-list-abuse-log
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-categories">
		<wiki-pedia:query-list-all-categories
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-deleted-revisions">
		<wiki-pedia:query-list-all-deleted-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-fileu-usages">
		<wiki-pedia:query-list-all-fileu-usages
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-images">
		<wiki-pedia:query-list-all-images
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-links">
		<wiki-pedia:query-list-all-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-pages">
		<wiki-pedia:query-list-all-pages
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-redirects">
		<wiki-pedia:query-list-all-redirects
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-transclusions">
		<wiki-pedia:query-list-all-transclusions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-all-users">
		<wiki-pedia:query-list-all-users
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-back-links">
		<wiki-pedia:query-list-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-beta-features">
		<wiki-pedia:query-list-beta-features
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-listblocks">
		<wiki-pedia:query-listblocks config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-category-members">
		<wiki-pedia:query-list-category-members
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-central-notice-logs">
		<wiki-pedia:query-list-central-notice-logs
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-check-user">
		<wiki-pedia:query-list-check-user
			config-ref="WikiPedia__HttpBasicAuth" curequest="#[flowVars.curequest]"
			cutarget="#[flowVars.cutarget]" cutoken="#[flowVars.cutoken]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-check-user-log">
		<wiki-pedia:query-list-check-user-log
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-listdeletedrevs">
		<wiki-pedia:query-listdeletedrevs
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-embedded-in">
		<wiki-pedia:query-list-embedded-in
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-exturlusage">
		<wiki-pedia:query-list-exturlusage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-file-archive">
		<wiki-pedia:query-list-file-archive
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-gadget-categories">
		<wiki-pedia:query-list-gadget-categories
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-gadgets">
		<wiki-pedia:query-list-gadgets
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-global-all-users">
		<wiki-pedia:query-list-global-all-users
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-global-blocks">
		<wiki-pedia:query-list-global-blocks
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-global-groups">
		<wiki-pedia:query-list-global-groups
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-image-usage">
		<wiki-pedia:query-list-image-usage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-iw-back-links">
		<wiki-pedia:query-list-iw-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-listlangbacklinks">
		<wiki-pedia:query-listlangbacklinks
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-log-events">
		<wiki-pedia:query-list-log-events
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-message-collection">
		<wiki-pedia:query-list-message-collection
			config-ref="WikiPedia__HttpBasicAuth" mcgroup="#[flowVars.mcgroup]"
			doc:name="WikiPedia" />
	</flow>

	<!-- <flow name="query-list-term" > <wiki-pedia:query-list-term config-ref="Wiki-pedia" 
		doc:name="WikiPedia"/> </flow> -->

	<flow name="query-list-page-prop-names">
		<wiki-pedia:query-list-page-prop-names
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-pageswithprop">
		<wiki-pedia:query-list-pageswithprop
			config-ref="WikiPedia__HttpBasicAuth" pwppropname="#[flowVars.pwppropname]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-prefix-search">
		<wiki-pedia:query-list-prefix-search
			config-ref="WikiPedia__HttpBasicAuth" pssearch="#[flowVars.pssearch]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-protected-titles">
		<wiki-pedia:query-list-protected-titles
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-query-page">
		<wiki-pedia:query-list-query-page
			config-ref="WikiPedia__HttpBasicAuth" qppage="#[flowVars.qppage]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-random">
		<wiki-pedia:query-list-random config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-recent-changes">
		<wiki-pedia:query-list-recent-changes
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-search">
		<wiki-pedia:query-list-search config-ref="WikiPedia__HttpBasicAuth"
			srsearch="#[flowVars.srsearch]" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-tags">
		<wiki-pedia:query-list-tags config-ref="WikiPedia__HttpBasicAuth"
			tgcontinue="#[flowVars.tgcontinue]" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-user-contribs">
		<wiki-pedia:query-list-user-contribs
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-users">
		<wiki-pedia:query-list-users config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-watch-list">
		<wiki-pedia:query-list-watch-list
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-watch-list-raw">
		<wiki-pedia:query-list-watch-list-raw
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-list-wiki-sets">
		<wiki-pedia:query-list-wiki-sets
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-meta-all-messages">
		<wiki-pedia:query-meta-all-messages
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-meta-file-repo-info">
		<wiki-pedia:query-meta-file-repo-info
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-metas-site-info">
		<wiki-pedia:query-metas-site-info
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-metatokens">
		<wiki-pedia:query-metatokens config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-meta-user-info">
		<wiki-pedia:query-meta-user-info
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>
	

	<flow name="query-gen-allcategories">
		<wiki-pedia:query-gen-allcategories
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-deleted-revisions">
		<wiki-pedia:query-gen-all-deleted-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-file-usages">
		<wiki-pedia:query-gen-all-file-usages
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-images">
		<wiki-pedia:query-gen-all-images
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-redirects">
		<wiki-pedia:query-gen-all-redirects
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-transclusions">
		<wiki-pedia:query-gen-all-transclusions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-pages">
		<wiki-pedia:query-gen-all-pages
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-all-links">
		<wiki-pedia:query-gen-all-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-back-links">
		<wiki-pedia:query-gen-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-categories">
		<wiki-pedia:query-gen-categories
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-category-members">
		<wiki-pedia:query-gen-category-members
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-deleted-revisions">
		<wiki-pedia:query-gen-deleted-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-duplicate-files">
		<wiki-pedia:query-gen-duplicate-files
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-embedded-in">
		<wiki-pedia:query-gen-embedded-in
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-ext-url-usage">
		<wiki-pedia:query-gen-ext-url-usage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-file-usage">
		<wiki-pedia:query-gen-file-usage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-images">
		<wiki-pedia:query-gen-images config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-image-usage">
		<wiki-pedia:query-gen-image-usage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-iw-back-links">
		<wiki-pedia:query-gen-iw-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-lang-back-links">
		<wiki-pedia:query-gen-lang-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-links">
		<wiki-pedia:query-gen-links config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-link-shere">
		<wiki-pedia:query-gen-link-shere
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-message-collection">
		<wiki-pedia:query-gen-message-collection
			config-ref="WikiPedia__HttpBasicAuth" gmcgroup="#[flowVars.gmcgroup]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-pages-with-prop">
		<wiki-pedia:query-gen-pages-with-prop
			config-ref="WikiPedia__HttpBasicAuth" gpwppropname="#[flowVars.gpwppropname]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-prefix-search">
		<wiki-pedia:query-gen-prefix-search
			config-ref="WikiPedia__HttpBasicAuth" gpssearch="#[flowVars.gpssearch]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-protected-titles">
		<wiki-pedia:query-gen-protected-titles
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-query-page">
		<wiki-pedia:query-gen-query-page
			config-ref="WikiPedia__HttpBasicAuth" gqppage="#[flowVars.gqppage]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-random">
		<wiki-pedia:query-gen-random config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-recent-changes">
		<wiki-pedia:query-gen-recent-changes
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-redirects">
		<wiki-pedia:query-gen-redirects
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-revisions">
		<wiki-pedia:query-gen-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-search">
		<wiki-pedia:query-gen-search config-ref="WikiPedia__HttpBasicAuth"
			gsrsearch="#[flowVars.gsrsearch]" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-templates">
		<wiki-pedia:query-gen-templates
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-transcluded-in">
		<wiki-pedia:query-gen-transcluded-in
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-watch-list">
		<wiki-pedia:query-gen-watch-list
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="query-gen-watch-list-raw">
		<wiki-pedia:query-gen-watch-list-raw
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="login">
		<wiki-pedia:login config-ref="WikiPedia__HttpBasicAuth"
			lgname="#[flowVars.lgname]" lgpassword="#[flowVars.lgpassword]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="getmain-module">
        <wiki-pedia:getmain-module config-ref="WikiPedia__HttpBasicAuth" action="help" doc:name="WikiPedia"/>
	</flow>

	<flow name="logout">
		<wiki-pedia:logout config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="open-search">
		<wiki-pedia:open-search config-ref="WikiPedia__HttpBasicAuth"
			search="#[flowVars.search]" doc:name="WikiPedia" />
	</flow>

	<flow name="parse-content">
		<wiki-pedia:parse-content config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-categories">
		<wiki-pedia:purge-all-categories
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-deleted-revisions">
		<wiki-pedia:purge-all-deleted-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-file-usages">
		<wiki-pedia:purge-all-file-usages
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-images">
		<wiki-pedia:purge-all-images config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-links">
		<wiki-pedia:purge-all-links config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-pages">
		<wiki-pedia:purge-all-pages config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-redirects">
		<wiki-pedia:purge-all-redirects
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-all-transclusions">
		<wiki-pedia:purge-all-transclusions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-back-links">
		<wiki-pedia:purge-back-links config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-categories">
		<wiki-pedia:purge-categories config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-category-members">
		<wiki-pedia:purge-category-members
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-deleted-revisions">
		<wiki-pedia:purge-deleted-revisions
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-duplicate-files">
		<wiki-pedia:purge-duplicate-files
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-embedded-in">
		<wiki-pedia:purge-embedded-in config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-exturl-usage">
		<wiki-pedia:purge-exturl-usage
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-file-usage">
		<wiki-pedia:purge-file-usage config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-images">
		<wiki-pedia:purge-images config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-image-usage">
		<wiki-pedia:purge-image-usage config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-interwiki-back-links">
		<wiki-pedia:purge-interwiki-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-lang-back-links">
		<wiki-pedia:purge-lang-back-links
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-links">
		<wiki-pedia:purge-links config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-link-shere">
		<wiki-pedia:purge-link-shere config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-message-collection">
		<wiki-pedia:purge-message-collection
			config-ref="WikiPedia__HttpBasicAuth" gmcgroup="#[flowVars.gmcgroup]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-pages-with-prop">
		<wiki-pedia:purge-pages-with-prop
			config-ref="WikiPedia__HttpBasicAuth" gpwppropname="#[flowVars.gpwppropname]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-prefix-search">
		<wiki-pedia:purge-prefix-search
			config-ref="WikiPedia__HttpBasicAuth" gpssearch="#[flowVars.gpssearch]"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-protected-titles">
		<wiki-pedia:purge-protected-titles
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-query-page">
		<wiki-pedia:purge-query-page config-ref="WikiPedia__HttpBasicAuth"
			gqppage="#[flowVars.gqppage]" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-random">
		<wiki-pedia:purge-random config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-recent-changes">
		<wiki-pedia:purge-recent-changes
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-redirects">
		<wiki-pedia:purge-redirects config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-revisions">
		<wiki-pedia:purge-revisions config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-search">
		<wiki-pedia:purge-search config-ref="WikiPedia__HttpBasicAuth"
			gsrsearch="#[flowVars.gsrsearch]" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-templates">
		<wiki-pedia:purge-templates config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-transcludedin">
		<wiki-pedia:purge-transcludedin
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="purge-watch-list">
		<wiki-pedia:purge-watch-list config-ref="WikiPedia__HttpBasicAuth"
			doc:name="WikiPedia" />
	</flow>

	<flow name="purge-watch-list-raw">
		<wiki-pedia:purge-watch-list-raw
			config-ref="WikiPedia__HttpBasicAuth" doc:name="WikiPedia" />
	</flow>

	<flow name="get-param-info">
		<wiki-pedia:get-param-info config-ref="WikiPedia__HttpBasicAuth"
			modules="#[flowVars.modules]" doc:name="WikiPedia" />
	</flow>


</mule>
